<!-- Outer box -->
 <div class="form-style-8">
   <% if @event %>
     <h2 class='acquia-blue'>Event: <%=@event.name %></h2>
     <h4 style='color:black'>
       Location: <%= @event.location %><p>
       Date: <%= @event.date %><p>
       Organizer: <%= @owner.name %><p>
       Invite Link: <%= @link.url %><p>
       Guests: <p>
     </h4>
     <body style='color:black'>
       <table class="table">
         <thead>
           <tr>
             <th>Name</th>
             <th>Email</th>
           </tr>
         </thead>
         <tbody>
           <% @guests.each do |guest| %>
             <tr>
               <th scope="row"><%= guest.name %></th>
               <td><%= guest.email %></td>
             <tr>
           <% end %>
         </tbody>
       </table>
     </body>
     <h4 style='color:black'>Items:</h4>
     <body style='color:black'>
       <table class="table">
         <thead>
           <tr>
             <th>Name</th>
             <th>Quantity</th>
             <th>Required?</th>
           </tr>
         </thead>
         <tbody>
           <% @items.each do |item| %>
             <tr>
               <th scope="row"><%= item.name %></th>
               <td><%= item.quantity %></td>
               <td><%= item.required %></td>
             <tr>
           <% end %>
         </tbody>
       </table>
     </body>
 
     <a href="/events/<%= @event.id %>/edit" class="btn btn-lg btn-primary">Edit Event</a>
     <a href="/events/<%= @event.id %>/invite" class="btn btn-lg btn-primary">Invite Guests</a>
     <a href="/events/<%= @event.id %>/add_ingredients" class="btn btn-lg btn-primary">Add Ingredients</a>
   </p>
   <% else %>
   <h2 class='acquia blue'>Event Not Found</h2>
     <a href="/events" class="btn btn-lg btn-primary">Return to Events</a>
   <% end %>
 </div>

