<% if @event %>
    <%= @event.date %>
    <%= @event.location %>
    <%= @event.guests %>
    <%= @event.items %>
    <%= @link.url %>
    <%= @owner.email %>
  </form>
  <p><a href="/events/<%= @event.id %>/edit">Edit</a></p>
<% else %>
    <p>Event not found</p>
<% end %>
