<!-- Outer box -->
<script type='text/javascript'>
  function format_day(date) {
    var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "June",
      "July", "Aug", "Sept", "Oct", "Nov", "Dec"
    ];
    var d = new Date(date);
    return(monthNames[d.getMonth()] + ' ' + d.getDate());
  }

  function format_time(date) {
    var d = new Date(date);
    var hh = d.getHours() + 4;
    var m = d.getMinutes();
    var s = d.getSeconds();
    var dd = "AM";
    var h = hh;

    if (h >= 12) {
      h = hh - 12;
      dd = "PM";

    }
    if (h == 0) {
      h = 12;
    }
    m = m < 10 ? "0" + m : m;

    s = s < 10 ? "0" + s : s;

    return(h + ':' + m + ' ' + dd);
    //return date.replace(pattern, replacement);
  }
</script>
<div class="form-style-8" style='width:60%; height:75%; color: black'>
  <% if @event %>
    <h2 class='acquia-blue'><%=@event.name %></h2>

    <div id='left-row-top' class='row'>
      <div class='col-md-4' style='border-right: 1px solid lightgray'>
        <% if @event.name.match(/[Ww]affle/) %>
          <img src='/img/waffles.jpg' class='img-thumbnail' style='height:155px;width:200px;' width='200' height='200'>
        <% elsif @event.name.match(/[Ss]andwich/) %>
          <img src='/img/sandwich.jpg' class='img-thumbnail' style='height:155px;width:200px;' width='200' height='200'>
        <% else %>
          <img src='/img/icecream.jpg' class='img-thumbnail' width='200' height='200'>
        <% end %>
      </div>

      <div class='col-md-8'>
        <table class="table table-condensed" style='color: black; font-size: 14px; font-weight: normal; text-shadow: none;'>
           <thead>
             <tr>
               <th>Name</th>
               <th>Quantity</th>
               <th>Cost/Unit</th>
               <th>Required?</th>
               <th>Claimed</th>
             </tr>
           </thead>
           <tbody>
             <% @items.each do |item| %>
                <% if !item.user_id.nil? %>
                  <tr class='success'>
                <% else %>
                  <tr class='info'>
                <% end %>
                 <th scope="row"><%= item.name %></th>
                 <td><%= item.quantity %></td>

                 <td>$<%= "%.2f" % (item.price) %></td>
                  <% if item.required %>
                    <td><span class='glyphicon glyphicon-ok' style='color: green; margin-left: 25px;'></span></td>
                  <% else %>
                    <td></td>
                  <% end %>

                 <% if item.user_id.nil? %>
                  <td style='cursor: pointer;'><button class='open-ClaimModal btn btn-primary' type="button" data-toggle="modal" data-target="#myModal" onclick="document.getElementById('item_id').value = <%= item.id %>">Claim Me!</button></td>
                <% else %>
                  <td><%= User.get(item.user_id).name %></td>
                <% end %>
               <tr>
             <% end %>
           </tbody>
         </table>
      </div>
    </div>

      <div style='width: 257px; position: absolute; top: 370px; left: 260px; border-right: 1px solid lightgray'>
        <p id='date' style='text-shadow: none;'></p>
        <p style='text-shadow: none;'><span class='glyphicon glyphicon-map-marker' style='color: gray;'></span> <%= @event.location %><br>
           By <%= @event.owner.name %>
        </p>
      </div>
  <% else %>
    <h2 class='acquia blue'>Event Not Found</h2>
    <a href="/events" class="btn btn-lg btn-primary">Return to Events</a>
  <% end %>

</div>
<!-- Modal -->
<div style='margin-top: 100px;' class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-body">
         <div class="form-style-8">
          <form method="POST" action='/events/claim/<%= @event.id %>' style='color: black;'>
            <input type="hidden" name="item_id" id="item_id" value="">
            <div class='form-group has-feedback'>
              <input type="text" name="name" id='name_input' placeholder="Name" />
              <i style='color: gray;' class='glyphicon glyphicon-user form-control-feedback'></i>
            </div>
            <div class='form-group has-feedback'>
              <input type="text" name="email" id='email_input' placeholder="Email" />
              <i style='color: gray;' class='glyphicon glyphicon-envelope form-control-feedback'></i>
            </div>
            <span id='temp_id'></span>
            <input type="submit" value="Claim!" />
          </form>
        </div>
      </div>
  </div>
</div>

<script type='text/javascript'>
  $( document ).ready(function() {
    day = format_day('<%= @event.date %>');
    time = format_time('<%= @event.date %>');
    document.getElementById('date').innerHTML = day + '<br>' + time;
  });
</script>
